.main-search-box:after {
 
content:"";
    display:block;
    clear:both;
   
}

 .clearfix {clear:both;}

 .card .card-content {
     padding: 10px;
 }

 .card-panel{
     background-color: #0d47a1;
 }